

<div class="contenedor" id="navbar">
  <span class="icono" id="btn-toggle" (click)="toggleNavbar()"><i class="fas fa-list"></i></span>
  <nav class="navbar navbar-brand">
    <div class="cont-lista">

      <ul class="lista px-5">
        <div class="separador">
          <a href="" class="links">
            <li class="item">
              <p>Inicio</p>
            </li>
          </a>
        </div>

        <div class="separador">
          <a href="login" class="links">
            <li class="item">
              <p>Iniciar Sesión</p>
            </li>
          </a>
        </div>

        <div class="separador">
            <a href="help" class="links">
              <li class="item">
                <p>Ayuda</p>
              </li>
            </a>
        </div>

      </ul>

    </div>
  </nav>
</div>
